* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("/img/musiknoten-hintergrund-in-lila-farbe_23-2147634349.avif") ;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align:center;
}

header {
    background: linear-gradient(to right, rgb(222, 192, 255),rgb(68, 27, 116));
    box-shadow: 25px rgba(0,0,0,0.3);
    border: 1px solid #444;
    border-radius: 20px 20px 20px 20px;
}

header h1 {
    color: #f0f0f0;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
}

nav ul {
    font-size:20px;
    list-style: none;
    padding: 0px;
    background:0dvi;
    margin: 20px; 
}

nav ul li {
    display:contents;
    margin: 0 50px;
}


nav ul li a {
  
    margin: 5px;
    padding:0px ;
    color: #1e1e1e; 
}

nav ul li a:hover {
    color:rgb(40, 0, 85);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0,2ms;
}

section{
    padding: 40px 20px;
    border-bottom: 1px solid #333;
    color:#ffffff;
    margin: 30px;
    background-color:#1e1e1e;
 
}

.ajuda {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  
}

.ajuda li {
    padding: 10px;
    background-color: #2a2a2a;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 8px;
    transition: background 0.3s;
    
}

.ajuda li:hover {
    background-color: #7cc3f1;
}

footer{
    background: #1f0138;
    color: white;
    padding: 10px;
    margin-top: 20px;
}